body{
    background-color: azure;
}

input, select{
    padding : 5px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px black;
    outline: none;
}

button{
    color: #fff;
    font-size: 1rem;
    display: block;
    margin: 10px auto;
    padding : 4px 9px;
    border-radius: 5px;
    background-color: rgb(72, 116, 116);
}

button:active{
    background-color: #fff;
    color: black;
}

button:hover{
    cursor: pointer;
}

.container{
    margin: 20% 40%;
}